<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h2>Telstra Messaging API Demo</h2> 
    <form method="post" action="/index">
        <label for="senderNameLabel">Sender name:</label><br>
        <input type="text" id="senderName" name="senderName"/><br>
        <label for="recipientNumberLabel">Recipient mobile:</label><br>
        <input type="text" id="recipientNumber" name="recipientNumber"/><br>
        <label for="recipientMessageLabel">Message for recipient:</label><br>
        <input type="text" id="recipientMessage" name="recipientMessage"/><br><br>
        <input type="submit" name="submit_button" value="Send"/>
        <input type="submit" name="check_button" value="Check Response"/>

        {% if error %}  
            <p><strong>Error: </strong>{{error}}</p>  
        {% endif %} 

        {% if information %}  
            <p><strong>Sent SMS Status: </strong> {{information}}</p>  
        {% endif %} 

        {% if response %}  
            <p><strong>Response: </strong>{{response}}</p>  
        {% endif %} 
    </form> 
</body>
</html>